---
layout: default
title: Library
permalink: /library/
custom_css: /assets/css/library.css
images:
  - url: https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/481330267_1395791431408350_7340904008063214215_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=rnR-DGbc22wQ7kNvwFaC1S2&_nc_oc=AdkJvo6_8qsRkBtYxf2dMatD6BOFaZhKmrDQ0mZRRWpgtprR8nX8TIPwlt4qLu-aokg&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-6.fna&_nc_gid=yTrEoADBkr-OpbA63R0XRg&oh=00_AfgzgAyNs4xeOzE3z9E4p7TYq-h-j0T6JV4jIcOetM8XWQ&oe=69141E39
    description: "Quà Trung thu và góc làm việc tại FPT Software Quy Nhơn (2024)"
  - url: https://objectstorageapi.ap-southeast-1.clawcloudrun.com/gmwlrt8t-data/tu40.jpg
    description: "Bàn phím Tu40, con này mình mod âm siêu hay, đã bán"
  - url: https://objectstorageapi.ap-southeast-1.clawcloudrun.com/gmwlrt8t-data/workspace-FEC.JPG
    description: "Góc làm việc ở FEC (2025)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/481765088_1396376441349849_5708770795695571487_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=101&ccb=1-7&_nc_sid=127cfc&_nc_ohc=RErqO3Fo3AMQ7kNvwHX6-0y&_nc_oc=Admn_DDoBV4jlt4vbHqJ3LqZYHP9KDtM7A094_m4rMjPo5JhdTDRorrH8mQNpquGbRo&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=dn3N64tPu6N57F6HJM4usw&oh=00_Afh_SU8WlyJNjlrFQAddXlAgCeWPwzYJn_ch5a0iQcrwEg&oe=6913FCB3
    description: "Team làm tool ứng dụng OCR (2024)"
  - url: https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/481084720_1394173544903472_3133539535773986519_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=ivx_ne7i2BAQ7kNvwG5jQfD&_nc_oc=Adn2o2FXHsNuGX3LyudQHYEuZmZNu8RMunalLFisWscJrExungmb5cYrw2zDT59fGkM&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-6.fna&_nc_gid=qPnS_Zh2gQvZqwW3ucvqjg&oh=00_AfhZF4bEZpiOYg8RCR4bB6NiiuvKihEsv2_e2ASkMItZow&oe=69140C30
    description: "Liên hoan cùng các lãnh đạo đơn vị QAI (2024)"
  - url: https://media.licdn.com/dms/image/v2/D562DAQFg7aNYpnlLOA/profile-treasury-image-shrink_800_800/profile-treasury-image-shrink_800_800/0/1720706216379?e=1763146800&v=beta&t=R4wVa1VUiUEswCBMRZcLO9iC130puLKWuAJEB-8dgBw
    description: "Mình, mentor của mình và các chị ở chương trình Central Talent Academy - FPT Software(2023)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/480887119_1390319555288871_7821015226166166366_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=jslKHlSDGvEQ7kNvwH0-5LA&_nc_oc=AdmzTld1TEEhJhftD_LcDTx3tCHAhd1ueH_RNubMGyCUDWNh9VDmk0Hn3ieWul096K4&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=q-q0zG247J85UVZGKAzy6g&oh=00_Afh1rOS-bADxZwIw_6I7l6gjpbXMBBefjI3b2Wdfe2LMtQ&oe=691410F1
    description: "Chung kết RESFES 2023 tại Đà Nẵng"
  - url: https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/480808589_1386982458955914_3642367558673269888_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=9VYa2vNn-70Q7kNvwHp0Hft&_nc_oc=Admpn1IoYnWdOfMlVhU49OO6MSt7ia3QyNYv1ttUemQthXllBk4d2WwGL6n_PhzXGrM&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-6.fna&_nc_gid=mIBWST71pIUPda9hqOpBUw&oh=00_AfjnowqVRwhpv8hhin-CyFD38rJuHzCtqzA--oUlS5fvhg&oe=6913F531
    description: "Hornorable Student học kỳ Fall 2022 (FPTU - HCM)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/480684802_1387802238873936_2808926029869183600_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_ohc=MOzDofYbfNEQ7kNvwEbjv4u&_nc_oc=AdkyairWXIlkHLPN6Xs45mGXTobilFcj5ApR2U38CIxuFW4qMtHYExIMkpV53b2zllk&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=1cob8uY5lMN-otXUMy1mPQ&oh=00_AfjvInxGvqHSXKWdV2pDNqRHxVSZmAIe97X4sCEz9sdzkQ&oe=69141521
    description: "Hornorable Student học kỳ Spring 2023 (FPTU - HCM)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.6435-9/78148970_223398455314326_204634249393864704_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=fOhWNdPyONgQ7kNvwG_H2JL&_nc_oc=AdnuP9Qx58XJRRz31nR-OyWEYqSsojX6uF0ppD7cI7Ig2MbzkmAanCpFieiIzP-KRz4&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=jm9DaLVM8t-WD3jwMo3Alw&oh=00_Afj_4ikMjzyjKrDkk2rFKwKCpo5ywNHPdck3zJoftj0g6Q&oe=6935C5C5
    description: "Tập thể 12T1 - Trường THPT Chuyên Nguyễn Bỉnh Khiêm tỉnh Vĩnh Long (2019)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.6435-9/81219164_230781024576069_937659612042100736_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_ohc=BLTUsFZqdjYQ7kNvwHI0qbt&_nc_oc=AdkBpYDttfNwQalTtlEqbDz5jKAA0MjCJMEepSPQLFc7O01y5AsKeg42tyMeYwR_KZ4&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=_ZUjo4q_4S5D15UChM2PXQ&oh=00_Afic5LWA9HaMapfHOBYKbWBjzeDTtVI1C88VeStt59IxJQ&oe=69359768
    description: "Đội tuyển HSG Quốc Gia Tỉnh Vĩnh Long (2019)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t1.6435-9/47573742_140477673606405_2729332930697494528_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=86c6b0&_nc_ohc=0PUqylYjdJoQ7kNvwG74cwz&_nc_oc=Adnroxi-4rnpeQ-9wPJ8FPfvlbXRzfdfCjHUksyvdz4ZplEeR2S1CJ45yu0A2C8witw&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=uBnHKtPUKNiokT4K5WJsBg&oh=00_AfiG69_VDh1CvXkWnzMM30FeISZKnNknOuetVLmGjJzPig&oe=6935A67F
    description: "Bồi dưỡng HSG Quốc Gia tại Long An (2018)"
  - url: https://scontent.fsgn5-13.fna.fbcdn.net/v/t39.30808-6/481766571_1394169531570540_7164317489884096286_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=t3oiMi98C74Q7kNvwElraUn&_nc_oc=AdnstlBzErp31QiGXJO4viO64orWs_hKrVJPyhNYf3_SSfS8IJJGOzCA5h8zg08DaBw&_nc_pt=1&_nc_zt=23&_nc_ht=scontent.fsgn5-13.fna&_nc_gid=IYGeONR2UaA9I1OsMSbYag&oh=00_AfjCdsV-LG2aiLFgyhdOd3-VSNxM5f2G2KK5MiLIG2sYJg&oe=691407C2
    description: "Gia đình đi du lịch làng chài Nhơn Hải -Quy Nhơn (2024)"
---

<div class="library-container" data-page="library">
  <h1 class="library-title">Library</h1>
  <p class="library-description">Memories</p>
  
  <div class="library-grid">
    {% for image in page.images %}
    <div class="library-item">
      <div class="library-item__image-wrapper">
        <img 
          src="{{ image.url | relative_url }}" 
          alt="{{ image.description }}"
          class="library-item__image"
          loading="lazy"
        />
      </div>
      <div class="library-item__description">
        {{ image.description }}
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if page.images == empty or page.images == nil %}
  <div class="library-empty">
    <p>Chưa có ảnh nào trong library. Hãy thêm ảnh vào front matter của file này.</p>
  </div>
  {% endif %}
</div>

